{% extends 'Message:Mothership:User::User:listing:view' %}

{% block main %}

<h1>{{ 'User Details' }}</h1>

<div class="topbar">
	<ul class="tabs">
		<li>
			<a href="" data-live>Details</a>
		</li>
		<li>
			<a href="" data-live>Addresses</a>
		</li>
		<li>
			<a href="" data-live>Order History</a>
		</li>
	</ul>
</div>

{{ form_start(accountdetails) }}
	{{ form_rest(accountdetails) }}
	<button type="submit" class="button small save">Update</button>
{{ form_end(accountdetails) }}

{% endblock %}