{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block main %}
	<hgroup class="title">
		<h1>Users</h1>
		<div class="controls">
			<div class="search">
				{{ render(controller('Message:Mothership:User::Controller:User:listing#searchForm')) }}
			</div>
			<a href="{{ url('ms.cp.user.admin.create')}}" class="button small create" data-live>Add a new user</a>
		</div>
	</hgroup>
	<div class="container-content">
	</div>
{% endblock %}