{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:User::Controller:User:Listing#searchForm')) }}

	<a href="{{ url('ms.cp.user.admin.create')}}" class="button small create product" data-live>Add user</a>
{% endblock %}