{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	<div class="search">
		{{ render(controller('Message:Mothership:User::Controller:User:listing#searchForm')) }}
	</div>
	<a href="{{ url('ms.cp.user.admin.create')}}" class="button small create" data-live>Add user</a>
{% endblock %}